
mixin menuBar(selectedMenu)
  - var home = selectedMenu === 'home' ? 'active' : '';
  - var users = selectedMenu === 'users' ? 'active' : '';
  nav.navbar.navbar-default.sidebar(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(class=home) 
            a(href='#' routerLink="/main")
              | Home
              span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
          li(class=users)
            a(href='#' routerLink="/users")
              | Users
              span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
          li
            a(href='#')
              | Logout
              span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
